body {
    background-color:#ffffff;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}
section {
    padding: 20px 30px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(169, 81, 10, 0.25);
    transition: background-color 0.3s ease;
    z-index: 1000; /*Ensures the navbar is above other content*/
    position: fixed;
    top: 0;
}

nav.scrolled {
    background-color: rgb(177, 98, 34);
}

nav.scrolled a {
    color: #ffffff;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    list-style-type: none;
    gap: 1px;
    padding: 0;
    padding-left: 40px;
    margin: 0px;
  }
  
.nav-right ul {
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 0;
    padding-right: 40px;
    margin: 0;
  }

nav li {
    list-style: none;
    margin: 0 20px;
  }

nav a {
    text-decoration: none;
    color: rgba(185, 98, 26);
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
  }

nav a:hover{
    color: #000000;
}

.home-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
    margin: 50px 70px 0;
}
.home-image{
    flex: 0;
}
.home-text{
    flex: 1;
    min-width: 200px;
    text-align: left;
}
.headshot {
    padding: 20px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-position: justify;
    object-fit: cover;
    display: block;
    box-shadow: 0 20px 8px rgba(169, 81, 10, 0.25);

}

.all-text {
    margin: 30px;
    line-height: 2;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-images {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.about-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-images img {
    width: 250px;
    margin: 0 10px;
}

.about-images figcaption{
    text-align: center;
    max-width: 90%;
    font-size: 15px;
    color:rgba(77, 77, 77, 0.714);
    margin-top: 8px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.highlights-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
    padding: 50px 0;
}

.highlights-grid figure {
    margin: 0;
    text-align: center;
}

.highlights-grid img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    height: auto;
}

.highlights-grid figcaption {
    font-size: 15px;
    color: rgba(77, 77, 77, 0.714);
    margin-top: 8px;
    line-height: 1.4;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 30px;
}

.gallery-grid figure {
    margin: 0;
    text-align: center;
}

.gallery-grid img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    height: auto;
}

.gallery-grid figcaption {
    opacity: 0;
    font-size: 12px;
    color: rgba(77, 77, 77, 0.714);
    margin-top: 8px;
    line-height: 1.4;
}
.gallery-grid figure:hover figcaption {
    opacity: 1;
    transition: opacity 0.3s ease;
}