body {
    background-color:#ffffff;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px 30px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
    padding: 8px 20px;
    margin: 0 30px;
    background-color: rgba(169, 81, 10, 0.25);

  }
  
nav li {
    display: inline-block;
    margin-right: 20px;
  }

nav a {
    text-decoration: none;
    color: rgba(185, 98, 26);
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
  }

nav a:hover{
    color: #000000;
}

.home-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    align-items: center;
    margin: 0 50px;
}
.home-image{
    flex: 0;
}
.home-text{
    flex: 1;
    min-width: 200px;
    text-align: left;
}
.headshot {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-position: justify;
    object-fit: cover;
    display: block;

}

.all-text {
    margin: 30px;
    line-height: 2;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-images{
    display: flex;
    margin: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.about-images img {
    width: 250px;
    padding: 0 20px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
