body {
    background-color:#000435;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0 20px;
    background-color: #002535;
  }
  
nav li {
    display: inline-block;
    margin-right: 20px;
  }

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
  }

nav a:hover{
    color: #400300;
}

.headshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;

}